* {
    margin: 0 ;
    box-sizing: border-box;
}
.rectangle{
    position: absolute;
    width: 1024px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #161616;
}
.Menu{
    position: absolute;
    width: 1030px;
    height: 60px;
    left: -6px;
    top: 60px;
}
.logo{
    background: url(../img/Logo.svg);
    position: absolute;
    width: 104px;
    height: 26px;
    left: 60px;
    top: 17px;
}
